body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.game-container {
    position: relative;
    height: 100%;
    overflow: hidden;
    background-image: url("../images/sky.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}

.bird {
	height: 30px;
	width: 40px;
	position: relative;
	top: 50%;
	left: 30px;
}

.score {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    color: #333;
}
.level
{
    position: absolute;
    top: 10px;
    right: 110px;
    font-size: 20px;
    color: #333;

}
.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*centers the element both horizontally and vertically within its parent container.*/
    font-size: 24px;
    color: #333;
}
.spikes {
    position: absolute;
    width: 20px;
    height: 40px;
    border: red 1px solid;
    background-color: black;
}

.left-spikes {
    left: 0; /*to start from the left*/
}

.right-spikes {
    right: 0; /*to start from the right*/
}
.candies
{
    display: none; /*so that it does not appear at the beginning of the game*/
    position: absolute;
    width: 40px;
    height: 20px;
    background-image: url(../images/candy.png);

}

/*at 0%, the element remains unchanged; at 50%, it moves upward by 50 pixels and becomes fully opaque; and at 100%, it moves further upward by 100 pixels and fades out completely.*/
@keyframes candyAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
        opacity: 1;
    }
    100% {
        transform: translateY(-100px);
        opacity: 0;
    }
}

.bomb
{
    display: none; /*so that it does not appear at the beginning of the game*/
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url(../images/bomb.png);
}
a
{
 position:fixed;
 top:10px;
 left: 10px;
}