div
{
    width: 50%;
    left: 25%;
    top: 25%;
    text-align: center;
    position: relative;
}
h1
{
    color: white;
    font-size: 60px;
}
h2
{
    color: white;
    font-size: 28px;
}
body {
    background-image: url("../images/picback.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}
button {
    background-color: white;
    color: brown;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#home
{
 position:fixed;
 top:10px;
 left: 10px;
}
