body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("../images/picback.jpg");
}

.container {
    max-width: 600px;
    margin: 100px auto;
    text-align: center;
}

h1 {
    color: white;
}

.buttons {
    margin-top: 50px;

}

.btn {
    display: inline-block;
    padding: 40px 70px;
    background-color: white;
    font-size: 30px;
    color: brown;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}
img{
    margin-top: 20px;
}